footer {
	text-align: center;
	margin: 20px 0 60px;
	
	a {text-shadow: 0 -1px 0 rgba(255,255,255,.2);}
	
	li {
		display: inline-block;
		margin: 0 20px 20px;
		
		@media #{$small} {
			display: block;
		}
		
		&.donate {
			@include rotate(-2deg);
		}
	}
}