body {
	background: url('#{$image-path}/paper.jpg') repeat top center;
	color: $text-color-1;
	font-family: $type;
	font-size: 20px;
	line-height: 190%;
	@extend .no-margin;
	
	@media #{$large} {
		font-size: 18px;
	}
	
	@media #{$medium}, #{$small} {
		font-size: 16px;
	}
}

a, a:visited {
	color: $text-color-2;
	text-decoration: none;
	transition: .3s all ease-in-out;
	
	&:hover {
		color: $text-color-2;
		text-decoration: underline;
	}
	
	&:active {
		color: $text-color-3;
	}
}

.container {
	@media #{$medium}, #{$small} {
		padding: 0 10px 40px;
	}
}

section {
	padding: 60px 0;
	
	@media #{$medium}, #{$small} {
		padding: 0;
	}
}

ul {
	@extend .no-margin;
	list-style: none;
}

hr {
	border: none;
	background: url('#{$image-path}/pencil-line.png') no-repeat top center;
	height: 10px;
  background-size: contain;
  margin: 0 0 30px;
  
  @media #{$medium}, #{$small} {
		max-width: 385px;
		margin: 0 auto 30px;
	}
}

h1 {
	font-size: 200%;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	
	@media #{$small} {
		text-align: center;
	}
}

h2 {
	@media #{$small} {
		margin-top: 60px;
		text-align: center;
	}
}

h1, h2, p {
	margin-bottom: 30px;
	text-shadow: 0 -1px 0 rgba(255,255,255,.2);
}

p {
	display: block;
}

.first::first-letter {
	font-size: 250%;
	float: left;
	margin: 20px 15px 15px 0;
	
	@media #{$large} {margin: 20px 15px 10px 0;}
	@media #{$medium}, #{$small} {margin: 15px 15px 5px 0;}
}