body {
	background: url('#{$image-path}/paper.jpg') repeat top center;
	color: $text-color-1;
	font-family: $type;
	font-size: 20px;
	line-height: 190%;
	@extend .no-margin;
	
	@media #{$large} {
		font-size: 18px;
	}
	
	@media #{$medium}, #{$small} {
		font-size: 16px;
	}
}

a, a:visited {
	color: $text-color-2;
	text-decoration: none;
	
	&:hover {
		color: $text-color-2;
		text-decoration: underline;
	}
	
	&:active {
		color: $text-color-3;
	}
}

.container {
	@media #{$medium}, #{$small} {
		padding: 0 40px 40px;
	}
}

section {
	padding: 60px 0;
	
	@media #{$medium}, #{$small} {
		padding: 0;
	}
}

ul {
	@extend .no-margin;
	list-style: none;
}

h1 {
	font-size: 200%;
	
	@media #{$small} {
		text-align: center;
	}
}

h2 {
	@media #{$small} {
		margin-top: 60px;
		text-align: center;
	}
}

h1, h2, p {
	margin-bottom: 30px;
}

p {
	display: block;
}

.first::first-letter {
	font-size: 250%;
	float: left;
	margin: 20px 15px 15px 0;
	
	@media #{$large} {margin: 20px 15px 10px 0;}
	@media #{$medium}, #{$small} {margin: 15px 15px 5px 0;}
}