#instafeed {
	a {
		width: 100%;
		display: inline-block;
		background: white;
		padding: 10px;
		border-radius: 2px;
		@include rotate(-2deg);
		-webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.25);
		box-shadow: 0 3px 6px 0 rgba(0,0,0,.25);
		margin-bottom: 30px;
	}
	
	div:nth-child(2) a {@include rotate(2deg);}
	div:nth-child(3) a {@include rotate(-1deg);}
	div:nth-child(4) a {@include rotate(4deg);}
	
	img {
		width: 100%;
		border-top: 1px solid #555;
    border-left: 1px solid #666;
	}
	
	p {
		@extend .no-margin;
		display: block;
		margin-top: 10px;
		height: 58px;
		line-height: 26px;
	}
}